<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0/query?where=ObjectId>0&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
JSONContent = requests.get(url).json()
df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
df

           County Age  ...           ChartDate ObjectId
0            Dade  34  ... 2020-06-20 05:00:00        1
1           Duval  35  ... 2020-07-09 05:00:00        2
2            Dade  82  ... 2020-03-29 05:00:00        3
3            Dade  42  ... 2020-03-29 05:00:00        4
4       St. Johns  21  ... 2020-04-23 05:00:00        5
...           ...  ..  ...                 ...      ...
31995      Marion  41  ... 2020-07-27 05:00:00    31996
31996      Marion  37  ... 2020-07-27 05:00:00    31997
31997  Palm Beach  45  ... 2020-07-28 05:00:00    31998
31998  Palm Beach  49  ... 2020-07-28 05:00:00    31999
31999      Martin  29  ... 2020-07-28 05:00:00    32000

[32000 rows x 16 columns]

In [4]:
### Example to show how to filter for a certain County

df[df['County'] == "Alachua"]

        County Age  ...           ChartDate ObjectId
85     Alachua  23  ... 2020-07-23 05:00:00       86
189    Alachua  41  ... 2020-07-15 05:00:00      190
842    Alachua  24  ... 2020-06-29 05:00:00      843
963    Alachua  53  ... 2020-06-29 05:00:00      964
1361   Alachua  27  ... 2020-06-23 05:00:00     1362
...        ...  ..  ...                 ...      ...
31166  Alachua  32  ... 2020-07-16 05:00:00    31167
31278  Alachua  29  ... 2020-06-19 05:00:00    31279
31508  Alachua  48  ... 2020-07-10 05:00:00    31509
31695  Alachua  19  ... 2020-07-25 05:00:00    31696
31831  Alachua  54  ... 2020-03-28 05:00:00    31832

[221 rows x 16 columns]

In [ ]:
df.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = df[df['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')