<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < 590000:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

            County Age  ...           ChartDate ObjectId
0       Palm Beach  81  ... 2020-06-09 05:00:00        1
1             Polk  71  ... 2020-06-16 05:00:00        2
2            Pasco  26  ... 2020-06-09 05:00:00        3
3           Monroe  40  ... 2020-06-09 05:00:00        4
4             Dade  37  ... 2020-08-20 05:00:00        5
...            ...  ..  ...                 ...      ...
600566     Unknown  42  ... 2020-08-07 05:00:00   600567
600567     Unknown  32  ... 2020-06-20 05:00:00   600568
600568     Unknown  38  ... 2020-06-20 05:00:00   600569
600569     Unknown  76  ... 2020-08-14 05:00:00   600570
600570     Unknown  28  ... 2020-07-04 05:00:00   600571

[600571 rows x 16 columns]

In [2]:
all_data.ObjectId.nunique()

600571

In [ ]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Alachua"]

         County Age  ...           ChartDate ObjectId
119     Alachua  26  ... 2020-08-08 05:00:00      120
173     Alachua  19  ... 2020-07-13 05:00:00      174
194     Alachua  20  ... 2020-06-27 05:00:00      195
200     Alachua  23  ... 2020-06-27 05:00:00      201
232     Alachua  63  ... 2020-07-01 05:00:00      233
...         ...  ..  ...                 ...      ...
549401  Alachua  35  ... 2020-07-07 05:00:00   549402
549548  Alachua  11  ... 2020-07-02 05:00:00   549549
549762  Alachua  42  ... 2020-07-26 05:00:00   549763
549946  Alachua  27  ... 2020-07-30 05:00:00   549947
549992  Alachua  61  ... 2020-07-28 05:00:00   549993

[4309 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = all_data[all_data['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')