<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < 510000:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

         County Age  ...           ChartDate ObjectId
0          Dade  72  ... 2020-04-24 05:00:00        1
1       Broward  71  ... 2020-07-25 05:00:00        2
2       Broward  51  ... 2020-07-17 05:00:00        3
3         Duval  60  ... 2020-07-17 05:00:00        4
4          Leon  17  ... 2020-07-17 05:00:00        5
...         ...  ..  ...                 ...      ...
510384  Unknown  32  ... 2020-07-29 05:00:00   510385
510385  Unknown  45  ... 2020-07-17 05:00:00   510386
510386  Unknown  59  ... 2020-07-09 05:00:00   510387
510387  Unknown  18  ... 2020-07-25 05:00:00   510388
510388  Unknown  12  ... 2020-07-14 05:00:00   510389

[510389 rows x 16 columns]

In [2]:
all_data.ObjectId.nunique()

510389

In [3]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Alachua"]

         County Age  ...           ChartDate ObjectId
186     Alachua  19  ... 2020-05-19 05:00:00      187
247     Alachua  53  ... 2020-06-28 05:00:00      248
395     Alachua  46  ... 2020-07-15 05:00:00      396
433     Alachua  20  ... 2020-06-18 05:00:00      434
477     Alachua  31  ... 2020-07-24 05:00:00      478
...         ...  ..  ...                 ...      ...
509199  Alachua  59  ... 2020-07-16 05:00:00   509200
509259  Alachua  18  ... 2020-07-10 05:00:00   509260
509407  Alachua  72  ... 2020-07-29 05:00:00   509408
509410  Alachua  80  ... 2020-07-29 05:00:00   509411
509432  Alachua  62  ... 2020-07-07 05:00:00   509433

[3952 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = all_data[all_data['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')