<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import pandas as pd
import requests

url = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0/query?where=ObjectId%3E0&objectIds=&time=&resultType=none&outFields=&returnIdsOnly=true&returnUniqueIdsOnly=false&returnCountOnly=true&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=json&token="
JSONContent = requests.get(url).json()
for a, b in JSONContent.items():
    total_rows = b
    

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < total_rows:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

            County Age    Age_group  ...  EventDate           ChartDate ObjectId
0         Seminole  77  75-84 years  ... 2020-10-17 2020-10-21 05:00:00        1
1       Palm Beach  80  75-84 years  ... 2020-09-26 2020-09-28 05:00:00        2
2          Broward  30  25-34 years  ... 2020-09-28 2020-09-28 05:00:00        3
3             Polk  59  55-64 years  ... 2020-09-26 2020-11-12 05:00:00        4
4           Orange  48  45-54 years  ... 2020-09-24 2020-09-28 05:00:00        5
...            ...  ..          ...  ...        ...                 ...      ...
885196         Lee  29  25-34 years  ... 2020-07-04 2020-07-04 05:00:00   885197
885197         Lee  66  65-74 years  ... 2020-07-01 2020-07-04 05:00:00   885198
885198         Lee  62  55-64 years  ... 2020-07-04 2020-07-04 05:00:00   885199
885199         Lee  48  45-54 years  ... 2020-07-04 2020-07-04 05:00:00   885200
885200     Broward  57  55-64 years  ... 2020-05-17 2020-05-17 05:00:00   885201

[885201 rows x 16 columns]

In [2]:
all_data.ObjectId.nunique()

885201

In [ ]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Palm Beach"]

            County Age  ...           ChartDate ObjectId
16      Palm Beach  25  ... 2020-08-10 05:00:00       17
38      Palm Beach  26  ... 2020-06-23 05:00:00       39
81      Palm Beach  27  ... 2020-07-13 05:00:00       82
112     Palm Beach  57  ... 2020-07-12 05:00:00      113
115     Palm Beach  48  ... 2020-10-21 05:00:00      116
...            ...  ..  ...                 ...      ...
807285  Palm Beach  54  ... 2020-06-24 05:00:00   807286
807291  Palm Beach  61  ... 2020-08-03 05:00:00   807292
807321  Palm Beach  26  ... 2020-09-01 05:00:00   807322
807353  Palm Beach  42  ... 2020-07-19 05:00:00   807354
807399  Palm Beach  66  ... 2020-09-11 05:00:00   807400

[52779 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = all_data[all_data['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')