<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_caseline_w_hospitalizations_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url_front = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Case_Line_Data_NEW/FeatureServer/0//query?where=ObjectId>"
url_back = "&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
object_id = 0
all_data = pd.DataFrame()
while object_id < 500000:
  JSONContent = requests.get(url_front + str(object_id) + url_back).json()
  df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
  df['Case1'] = pd.to_datetime(df.Case1, unit='ms')
  df['EventDate'] = pd.to_datetime(df.EventDate, unit='ms')
  df['ChartDate'] = pd.to_datetime(df.ChartDate, unit='ms')
  all_data = all_data.append(df, ignore_index=True)
  object_id += 32000
all_data

          County Age  ...           ChartDate ObjectId
0        Broward  27  ... 2020-07-13 05:00:00        1
1           Dade  28  ... 2020-07-12 05:00:00        2
2           Dade  48  ... 2020-07-14 05:00:00        3
3           Dade  66  ... 2020-07-23 05:00:00        4
4       Escambia  36  ... 2020-07-07 05:00:00        5
...          ...  ..  ...                 ...      ...
480023   Unknown  39  ... 2020-05-05 05:00:00   480024
480024   Unknown  62  ... 2020-07-31 05:00:00   480025
480025   Unknown  20  ... 2020-07-31 05:00:00   480026
480026   Unknown  65  ... 2020-07-12 05:00:00   480027
480027   Unknown  33  ... 2020-07-28 05:00:00   480028

[480028 rows x 16 columns]

In [2]:
all_data.ObjectId.nunique()

480028

In [3]:
### Example to show how to filter for a certain County

all_data[all_data['County'] == "Alachua"]

         County Age  ...           ChartDate ObjectId
109     Alachua  19  ... 2020-07-08 05:00:00      110
232     Alachua  58  ... 2020-07-13 05:00:00      233
237     Alachua  43  ... 2020-07-27 05:00:00      238
301     Alachua  39  ... 2020-07-20 05:00:00      302
392     Alachua  22  ... 2020-07-08 05:00:00      393
...         ...  ..  ...                 ...      ...
478626  Alachua  34  ... 2020-07-09 05:00:00   478627
478734  Alachua  22  ... 2020-07-11 05:00:00   478735
478873  Alachua  27  ... 2020-07-26 05:00:00   478874
479016  Alachua  95  ... 2020-07-21 05:00:00   479017
479162  Alachua  50  ... 2020-07-16 05:00:00   479163

[3590 rows x 16 columns]

In [ ]:
all_data.to_csv('FL_caseline_file.csv', index=False)
from google.colab import files
files.download('FL_caseline_file.csv')

In [ ]:
#download only a single county
df2 = all_data[all_data['County'] == "Alachua"].copy()
df2.to_csv('Alachua_caseline_file.csv', index=False)
files.download('Alachua_caseline_file.csv')